/* Buttons */

.btn-group-lg>.btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 1.7rem !important;
    line-height: 1.5;
    border-radius: .3rem;
}

.btn-primary a {
    color: #fff;
}


.btn-primary:hover {
    color: #fff;
    text-decoration: unset;
    background-color: #0069d9;
    border-color: #0069d9;
}

.btn-group .btn.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-group .btn,
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* Code Chunk */

.code-chunk {
  background-color: var(--code-grey) !important;
  padding: 15px;
  border-radius: .25rem;
  overflow: auto;
  max-height: 200px;
}

.code-chunk-bar {
  background-color: var(--code-grey) !important;
  padding-bottom: 0px;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: .25rem;
}

.copy-button {
  float: right;
}

.code-lang {
  float:right;
}

.no-gutters.code-lang-col {
  padding: 1px;
}

.no-gutters.copy-col {
  padding: 1px;
}

 .dropdown-item a {
    font-weight: 400;
    color: #212529;
    text-decoration: none;
    background: 0 0;

}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    font-size: 1.5rem;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

code {
    padding: .2em;
    margin: 0;
    font-size: .85em;
    background-color: var(--code-grey);
}

.syntax-variable {
  color: var(--color-c);
}

.code-chunk code:before {
    letter-spacing: 0em;
    content: "" !important;
}

a {
    color: #007bff;
    text-decoration: none;
    background: 0 0;
}

a:active, a:focus, .code-chunk a:hover {
    outline: 0;
    text-decoration: none;
}

.code {
  display: none;
}

.code.active {
  display: unset;
}


